[
    {
        "environment": [
            { "name": "BARCODE_SERVICE_URL", "value": "http://barcode${external_top_level_domain}" },
            { "name": "LOGLEVEL", "value": "${log_level}" },
            { "name": "PORT", "value": "${application_port}" }
        ],
        "name": "${service_name}",
        "image": "${docker_registry}/${service_name}:${release_version}",
        "cpu": 1,
        "memory": 512,
        "portMappings": [{
            "containerPort": ${application_port},
            "hostPort": 0
        }],
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-create-group": "true",
                "awslogs-region": "${aws_region}",
                "awslogs-group": "/ecs/${name_prefix}/${service_name}",
                "awslogs-stream-prefix": "ecs"
            }
        },
        "secrets": [
            { "name": "MONGODB_URL", "valueFrom": "${test-data-generator-secret-mongo-url}" }
        ],
        "essential": true
    }
]
