[
    {
        "environment": [
            { "name": "PORT", "value": "${eric_port}" },
            { "name": "ACCOUNT_API_URL", "value": "https://account${external_top_level_domain}" },
            { "name": "DEVELOPER_HUB_URL", "value": "https://developer${external_top_level_domain}" },
            { "name": "CACHE_URL", "value": "${eric_cache_url}" },
            { "name": "CACHE_MAX_CONNECTIONS", "value": "${eric_cache_max_connections}" },
            { "name": "CACHE_MAX_IDLE", "value": "${eric_cache_max_idle}" },
            { "name": "CACHE_IDLE_TIMEOUT", "value": "${eric_cache_idle_timeout}" },
            { "name": "CACHE_TTL", "value": "${eric_cache_ttl}" },
            { "name": "FLUSH_INTERVAL", "value": "${eric_flush_interval}" },
            { "name": "GRACEFUL_SHUTDOWN_PERIOD", "value": "${eric_graceful_shutdown_period}" },
            { "name": "DEFAULT_RATE_LIMIT", "value": "${eric_default_rate_limit}" },
            { "name": "DEFAULT_RATE_WINDOW", "value": "${eric_default_rate_limit_window}" },
            { "name": "PROXY_TARGET_URLS", "value": "http://${service_name}:${tdg_proxy_port}" },
            { "name": "PROXY_BYPASS_PATHS", "value": "_single_domain_+/test-data/healthcheck" },
            { "name": "MODE", "value": "api" },
            { "name": "LOGLEVEL", "value": "${log_level}" }
        ],
        "name": "eric",
        "image": "${docker_registry}/eric:${eric_version}",
        "cpu": 1,
        "memory": 512,
        "portMappings": [{
            "containerPort": ${eric_port},
            "hostPort": 0,
            "protocol": "tcp"
        }],
       "links": [
         "${service_name}"
       ],
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-create-group": "true",
                "awslogs-region": "${aws_region}",
                "awslogs-group": "/ecs/${name_prefix}/eric",
                "awslogs-stream-prefix": "ecs"
            }
        },
        "secrets": [
            { "name": "API_KEY", "valueFrom": "${eric-api-key}" },
            { "name": "AES256_KEY", "valueFrom": "${eric-aes256-key}" }
        ],
        "essential": true
    },
    {
        "environment": [
            { "name": "PORT", "value": "${tdg_proxy_port}" },
            { "name": "LOGLEVEL", "value": "${log_level}" },
            { "name": "BARCODE_SERVICE_URL", "value": "http://barcode${external_top_level_domain}" }
        ],
        "name": "${service_name}",
        "image": "${docker_registry}/${service_name}:${tdg_release_version}",
        "cpu": 1,
        "memory": 512,
        "mountPoints": [],
        "portMappings": [{
            "containerPort": ${tdg_proxy_port},
            "hostPort": 0,
            "protocol": "tcp"
        }],
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-create-group": "true",
                "awslogs-region": "${aws_region}",
                "awslogs-group": "/ecs/${name_prefix}/${service_name}",
                "awslogs-stream-prefix": "ecs"
            }
        },
        "secrets": [
            { "name": "MONGODB_URL", "valueFrom": "${test-data-generator-secret-mongo-url}" }
        ],
        "volumesFrom": [],
        "essential": true
    }
]
