[
    {
        "environment": [
            { "name": "BARCODE_SERVICE_URL", "value": "https://barcode.${environment}.development.aws.chdev.org" },
            { "name": "MONGODB_URL", "value": "mongodb://mongo-db1-${environment}.development.aws.internal:27017" },
            { "name": "LOGLEVEL", "value": "TRACE" }
        ],
        "name": "test-data-generator",
        "image": "${docker_image}",
        "cpu": 1,
        "memory": 512,
        "portMappings": [{
            "containerPort": 10000,
            "hostPort": 0
        }],
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-create-group": "true",
                "awslogs-region": "${aws_region}",
                "awslogs-group": "/ecs/${name_prefix}/test-data-generator",
                "awslogs-stream-prefix": "ecs"
            }
        },
        "secrets": [
            { "name": "MONGODB_USERNAME", "valueFrom": "${secret_mongo_user_name}" },
            { "name": "MONGODB_PASSWORD", "valueFrom": "${secret_mongo_password}" }
        ],
        "essential": true
    }
]
