[
    {
        "environment": [
            { "name": "BARCODE_SERVICE_URL", "value": "http://barcode${external_top_level_domain}" },
            { "name": "LOGLEVEL", "value": "${log_level}" }
        ],
        "name": "test-data-generator",
        "image": "${docker_registry}/test-data-generator-temp:${app_version_test_data_generator}",
        "cpu": 1,
        "memory": 512,
        "portMappings": [{
            "containerPort": ${docker_container_port},
            "hostPort": 0
        }],
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-create-group": "true",
                "awslogs-region": "${aws_region}",
                "awslogs-group": "/ecs/${name_prefix}/test-data-generator",
                "awslogs-stream-prefix": "ecs"
            }
        },
        "secrets": [
            { "name": "MONGODB_URL", "valueFrom": "${secret_mongo_url}" }
        ],
        "essential": true
    }
]
